<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servlet>
        <servlet-name>Basic</servlet-name>
        <servlet-class> ServerService.DBInteraction </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Basic</servlet-name>
        <url-pattern>/basicAPI</url-pattern>
    </servlet-mapping>
</web-app>